.header__square-pic {
    position: absolute;
    right: 111px;
    top: 30px;
    height: 700px;
    width: 700px;
    background-image: url(../../../images/Subtract.png);
    background-size: cover;
  }

@media screen and (max-width: 1025px) {
    .header__square-pic {
    top: 70px;
    right: -5px;
    height: 550px;
    width: 550px;
    }
  }

@media screen and (max-width: 768px) {
    .header__square-pic {
   
    right: -10%;
    top: 30%;
    height: 280px;
    width: 280px;
    }
  }