.khan__quote {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 50px 0 0 0;
    
  }

  @media screen and (min-width:1024px) {
    .khan__quote {
      width: 892px;
    }
  }

