.khan {
    background-color: #F2F2F2;
    padding-top: 100px;
    padding-bottom: 30px;
  }

.khan__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.khan__list-item {
    margin: 15px 5px 15px 0;
    list-style-type: none;
    background-color: lightgray;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 17px;
    border-radius: 25px;
    cursor: pointer;
    will-change: color,background-color;
    transition: all 0.5s ease-in-out 0s; opacity: 1;
    color: gray;
}

.khan__list-item_active {
    background-color: #ee6f07b8;
    color: white;
}

.khan__list-item:hover {
    cursor: pointer;
}
