.feynman {
    position: relative;
    padding-top: 202px;
    min-height: 577px;
    /*background-position:;*/
    background-size: 682px 455px;
    background: #F2F2F2 url(../../images/feynman2.png) no-repeat bottom left;
  }