.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    width: 200px;
  }

  @media screen and (max-width:768px) {
    .logo_place_header {
      width: 80%;
      left: 18px;
    }
  }