.page {
    /*min-width: 1100px;*/
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

/*  .bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../../images/bg_profi.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}*/

