.khan {
    
    padding-top: 100px;
    padding-bottom: 30px;
  }

.khan__list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
@media screen and (max-width:420px) {
    .khan__list {
        flex-direction: column;
    }
}

.khan__list-item {
    margin: 15px 5px 15px 0;
    list-style-type: none;
    background-color: #9999992d;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    padding: 15px 25px;

    /*border-radius: 25px;*/
    cursor: pointer;

    will-change: color,background-color;

    transition: opacity 1s ease-in-out, color 1s ease-in-out; 
    opacity: 1;

    color: #0a0a0a;

    position: relative;
}

@media screen and (max-width:768px) {
    .khan__list-item {
        padding: 10px 10px;
        margin: 5px 0;
    }
}

@media screen and (max-width:420px) {
    .khan__list-item {
        margin: 5px 0;
    }
}

.khan__list-item_active {
    /*background-color: #ee6f07b8;*/
    border-left: 5px solid #FF5E3A;
    color: #FF5E3A;
    background-color: #f2f2f211;
}


.khan__list-item:hover {
    cursor: pointer;
    color: white;
}
.khan__list-item_active:hover {
    cursor: pointer;
    color: #FF5E3A;
}
.khan__list-item:focus {
    outline: 0px;
  }



