.plates {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:1024px) {
    .plates {
        flex-direction: column;
    }
}


.plates__interactive {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    
    min-height: 500px;
}

.plates__description {
    box-shadow: 3px;
    background-color: #2f2f2f;
    color: white;
    flex-basis: 550px;
}

.plates__description-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.55;
    text-align: center;
    color: white;
}

.plates__description-text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 155.5%;
    margin: 0;
    padding: 20px;
}

